.header {
    min-height: 100vh;
    background: url(/img/background.jpg) no-repeat center/cover;
    background-color: rgba(22, 22, 22, 0.8);
    background-blend-mode: darken;
    position: relative;
}

.head__container{
    padding: 44px 0 0 0;
    max-width: 950px;
    margin: 0 auto;
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
}

.header::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 115px solid transparent;
    border-right: 300vh solid #FFF;
}

.head__logo {
    padding: 7px 0px 0 2px;
    float: left;
    max-width: 21%;
  }

.head__nav{
    display: inline-block;
    float: left;
    max-width: 79%;
    margin-left: 45px;
}
.head__langswitch{
    padding-top: 3px;
    position: relative;
    display: inline-block;
    float: right;
    max-width: 3%;
}

.head__contacts-tel,
.head__contacts-email,
.head__contacts-add,
.head__contacts-call,
.head__links-timelist,
.head__links-film,
.head__links-review,
.head__links-feedback,
.head__links-location{
    display: inline-block;
    float: left;
}

.head__contacts-tel{
    padding-top: 3px;
}
.head__contacts-email{
    margin-left: 53px;
    padding-top: 3px;
}
.head__contacts-add{
    margin-left: 51px;
    padding-top: 3px;
}
.head__contacts-call{
    margin-left: 55px;
}

.call__button{
    width: 130px;
    height: 21px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #FFFFFF;
}

.call__button:hover{
    background: #A3CC40;
    border: #FFF;
}

.call__button svg{
    padding: 5px 0 0 10px;
}

.call__button:hover svg{
    fill: #FFF;
}

.call__button span{
    padding-left: 5px;
}

.call__button:hover span{
    color: #FFF;
}

.head__contacts-call a{
    color: #333333;
    text-decoration: none;
}

.head__links{
    padding-top: 34px;
}

.head__links-timelist,
.head__links-film,
.head__links-review,
.head__links-feedback,
.head__links-location{
    text-transform: uppercase;
}

.head__links-film{
    margin-left: 74px;
}

.head__links-review{
    margin-left: 71px;
}

.head__links-feedback{
    margin-left: 77px;
}

.head__links-location{
    margin-left: 73px;
}

.head__langswitch-dropdown{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    background: #666;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
}

.head__langswitch-dropdown a{
    display: table;
    padding: 5px;
}

.head__langswitch:hover .head__langswitch-dropdown{
    visibility: visible;
    opacity: 1;
}

.head__langswitch:hover svg{
    transform: rotate(180deg);
}

.head__intro{
    clear: both;
    margin: 0 auto;
    margin-top: 180px;
    text-align: center;
}

.head__intro-line01{
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 100;
    font-size: 68px;
    line-height: 1.33;
}
.head__intro-line02{
    padding-top: 15px;
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 400;
    font-size: 41px;
    line-height: 1.33;
}
/* .header close */


.greeting{
    position: absolute;
    background-color: #FFF;
    border-radius: 10px;
    color: black;
    width: 380px;
    height: 221px;
    transform: translateY(-50%);
    right: 0;
}

/* .greeting__head{
    max-width: 332px;
    display: inline;
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 600;
    font-size: 33px;
    line-height: 1.33;
}

.greeting__foot{
    padding-top: 22px;
    display: inline-block;
    max-width: 332px;
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 400;
    font-size: 11px;
    line-height: 1.33;
} */
/* .greeting close */
.advantages{
    max-height: 845px;
    color: black;
    display: flex;
    flex-flow: row wrap;
    
}

.advantages>div{
    width: 338px;
    height: 245px;
}

.table {
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 400;
    font-size: 14px;
    line-height: 1.33;
    color: #ffffff;
    height: 225px;
    width: 849px;
    border-collapse: collapse;
    text-align: left;
}
tbody svg{
    margin-left: 22px;
}
.timelistHead{
    font-family: 'IBM_Plex_Sans', sans-serif; 
    font-weight: 600;
    font-size: 20px;
    line-height: 1.33;
    color: #ffffff;
    background-color: #A3CC40;
    height: 45px;
}
.timelistHead th:nth-child(1){
    width: 76px;
    border-radius: 10px 0 0 0;
}
.timelistHead th:nth-child(2){
    width: 236px;
}
.timelistHead th:nth-child(3){
    width: 238px;
}
.timelistHead th:nth-child(4){
    border-radius: 0 10px 0 0;
}
.timelistBody tr:nth-child(even){
    background-color: #373737;
 }
.timelistBody tr:nth-child(odd){
    background-color: #4C4D4F;
 }
 .timelistBody tr:last-child :first-child{
     border-radius: 0 0 0 10px;
 }
 .timelistBody tr:last-child :last-child{
    border-radius: 0 0 10px 0;
}