html{
    font-size: 1.78vw;
}

body{
    font-family: 'IBM_Plex_Sans', sans-serif;
    color: #fff;
}

.blockname {
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.33;
    color: #A3CC40;
    text-align: left;
}

.basealign{
    max-width: 42.5rem;
    margin: 0  auto;
    padding-left: .3rem;
}

.relative{
    position: relative;
}

.link__white{
    text-decoration: none;
    color: #FFFF;
}

.button{
    box-sizing: border-box;
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 500;
    line-height: 1.33;
    border: 2px solid#A3CC40;
    background: #A3CC40;
    border-radius: .3rem;
    color: #FFF;
}

.button__feedback{
    width: 100%;
    padding: .7rem 0;
}

.button:hover{
    background: #FFF;
    color: #A3CC40;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
}

.button__call {
    color: black;
}

.text__description{
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 400;
    font-size: .55rem;
    line-height: 1.33;
}

.underline:hover{
    color: #A3CC40;
    cursor: pointer;
}

.underline::before{
    content: "";
    position: absolute;
    background-color: #A3CC40;
    bottom: -.05rem;
    width: 0;
    height: 1px;
    transition: .2s ease-in;
}

.underline:hover::before{
    width: 100%;
}

.clear{
    clear: both;
}

.footer__blockname{
    padding-bottom: .9rem;
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.33;
    text-transform: uppercase;
}