html{
    font-size: 20px;
}

body{
    font-family: 'IBM_Plex_Sans', sans-serif;
    color: #fff;
}

.blockname {
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 1.33;
    color: #A3CC40;
    text-align: left;
}

.basealign{
    max-width: 84%;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.link__white{
    text-decoration: none;
    color: #FFFF;
}

.button{
    box-sizing: border-box;
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 500;
    line-height: 1.33;
    border: 2px solid #A3CC40;
    background: #A3CC40;
    border-radius: .3rem;
    color: #FFF;
}

.button__form{
    width: 100%;
    padding: .7rem 0;
}

.button:hover{
    background: #FFF;
    color: #A3CC40;
    box-shadow: 0px 2px 9px rgba(144, 210, 61, 0.3);
}

.button__call {
    color: black;
}

.text__description{
    font-family: "IBM_Plex_Sans", sans-serif; 
    font-weight: 400;
    font-size: .55rem;
    line-height: 1.33;
}

.underline:hover{
    color: #A3CC40;
    cursor: pointer;
}

.underline::before{
    content: "";
    position: absolute;
    background-color: #A3CC40;
    bottom: -.05rem;
    width: 0;
    height: 1px;
    transition: .2s ease-in;
}

.underline:hover::before{
    width: 100%;
}

.clear{
    clear: both;
}

.header {
    background: url(/img/background550.jpg) no-repeat center/cover;
    background-color: rgba(22, 22, 22, 0.8);
    background-blend-mode: darken;
    position: relative;
    padding-bottom: 14.1rem;
  }
  
  .header__single{
    background: radial-gradient(at 70% 50%, #4e262e 10%, black);
    padding-bottom: 1.6rem;
  }
  
  .head__container {
    padding-top: 2.3rem;
    max-width: 48.3rem;
    margin: 0 auto;
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.33;
  }
  
  .header::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 6.25rem solid transparent;
    border-right: 98vw solid #fff;
    overflow: hidden;
  }
  
  .head__row{
    display: flex;
    margin: 0 auto;
  }
  
  .head__logo {
    flex: 0 0 22.6%;
    padding-top: .3rem;
  }
  
  .head__nav{
    flex: 0 0 77.4%;
  }
  
  .mobilemenu{
    display: flex;
    flex-flow: row wrap;
    flex: 0 0 1.6rem;
    z-index: 999;
    gap: .75rem 0;
  }
  
  .mobilemenu__contact-item{
    flex: 0 0 21%;
  }
  
  .mobilemenu__nav-item{
    flex: 0 0 19.4%;
    text-transform: uppercase;
    order: 2;
  }
  
  .call__button {
    box-sizing: border-box;
    padding-left: .4rem;
    background: #ffffff;
    color: #333333;
    border-radius: 0.3rem;
    border: 2px solid #ededed;
    text-decoration: none;
  }
  
  .call__button:hover {
    background: #a3cc40;
    border: 2px solid #EAEDE2;
  }
  
  .call__button:hover path {
    fill: #fff;
  }
  
  .call__button span {
    padding-left: 0.25rem;
    padding-right: .35rem;
    padding-top: .1rem;
    text-decoration: none;
  }
  
  .call__button:hover span {
    color: #fff;
  }
  
  .head__langswitch{
    flex: 0 0 16%;
    float: right;
    order: 1;
  }
  
  .head__langswitch-dropdown {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
    background: #666;
    bottom: .15rem;
    transform: translateY(100%);
  }
  
  .head__langswitch-dropdown a {
    display: table;
    padding: 0.25rem;
  }
  
  .head__langswitch:hover .head__langswitch-dropdown {
    visibility: visible;
    opacity: 1;
  }
  
  .head__langswitch:hover svg {
    transform: rotate(180deg);
  }
  
  .burgermenu__btn {
    display: none;
    align-items: center;
    position: fixed;
    top: 6.4vw;
    right: 5.3vw;
    width: 44.4px;
    height: 25px;
    cursor: pointer;
    z-index: 1000;
  }
  .burgermenu__btn > span,
  .burgermenu__btn > span::before,
  .burgermenu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(201, 201, 201);
  }
  .burgermenu__btn > span::before {
    content: '';
    top: -8px;
  }
  .burgermenu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .burgermenu__btn-open > span {
    transform: rotate(45deg);
  }
  .burgermenu__btn-open > span::before {
    top: 0;
    transform: rotate(0);
    background-color: #A3CC40;
  }
  .burgermenu__btn-open > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #A3CC40;
  }
  
  .head__intro {
    margin: 0 auto;
    margin-top: 6.3rem;
    padding-left: 1rem;
    text-align: center;
  }
  
  .head__intro-line01 {
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 100;
    font-size: 3.4rem;
    line-height: 1.33;
  }
  
  .head__intro-line02 {
    padding-top: 0.75rem;
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 400;
    font-size: 2.05rem;
    line-height: 1.33;
  }

.footer__blockname{
    padding-bottom: .9rem;
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.33;
    text-transform: uppercase;
}

.footer__container {
    background-color: #a3cc40;
  }
  
  .footer__wrap {
    margin: 0 auto;
    padding-top: 4.3rem;
    width: 84%;
  }
  
  .footer__block1 {
    float: left;
    width: 47.3%;
  }
  
  .footer__logo a svg{
    height: 2.3rem;
    width: 7.8rem;
  }
  
  .footer__parting {
    width: 60%;
    padding: .6rem 0 .5rem 0;
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 400;
    font-size: 0.7rem;
    line-height: 1.33;
  }
  
  .footer__sn {
    padding-top: 0.8rem;
    padding-bottom: 2.1rem;
    display: flex;
  }
  
  .footer__sn-item {
    flex: 0 0 3.2rem;
  }
  
  .sn__ico {
    display: block;
    position: relative;
    box-sizing: border-box;
    width: 1.55rem;
    height: 1.55rem;
    background-color: #bee956;
    border-radius: 50%;
  }
  
  .sn__ico:hover {
    background-color: #fff;
    box-shadow: 0 0 0.5rem 0.2rem #fff;
  }
  
  .sn__ico svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .sn__ico:hover path {
    fill: #bee956;
  }
  
  .footer__copyrights {
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.33;
  }
  
  .footer__block2{
    display: flex;
  }
  
  .footer__site,
  .footer__contacts {
    flex: 0 0 43%;
  }
  
  .footer__site-item {
    padding: 0.3rem 0;
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.33;
    color: #fff;
    text-transform: uppercase;
  }
  
  .footer__contacts-list{
    padding-top: 0.2rem;
  }
  
  .footer__contacts-item {
    padding-bottom: 0.6rem;
    font-family: "IBM_Plex_Sans", sans-serif;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.33;
    color: #fff;
  }