@media screen and (min-width:768px) {
    html{
        font-size: 1.78vw;
    }

    .basealign{
        max-width: 75%;
    }
}

@media screen and (max-width:1060px) {
    .timelist__table{
        overflow-x: scroll;
    }
}

@media screen and (min-width:552px) and (max-width:768px){
    .header{
        padding-bottom: 12.4rem;
    }

    .head__intro{
        margin-top: 5.5rem;
    }

    .greeting__box{
        max-width: 26rem;
        padding-top: 2.1rem;
        padding-bottom: 2.1rem;
        right: 6.65rem;
        top: -9.6rem;
        text-align: center;
    }

    .advantages__blockname{
        padding-top: 3.7rem;
    }
}

@media screen and (max-width:768px) {
    html{
        font-size: 1.9vw;
    }

    .head__container {
        max-width: 44.6rem;
    }

    .burgermenu__btn {
        display: flex;
        top: 3rem;
        right: 3rem;
        width: 3.2rem;
        height: 25px;
        cursor: pointer;
        z-index: 1000;
    }

    .mobilemenu{
        display: none;
        flex-flow: column nowrap;
        z-index: 999;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background: #fff;
        font-size: 1.7rem;
        padding: 5.2rem 4.6rem 0 4.2rem;
    }

    .mobilemenu-open{
        display: flex;
    }

    .mobilemenu__contact-item{
        flex: 0 0 0%;
        order: 0;
    }
    
    .mobilemenu li:first-child{
        padding-bottom: 2.2rem;
    }

    .mobilemenu li:nth-child(7){
        padding-top: 6.8rem;
    }

    .mobilemenu li:last-child{
        padding-top: 3.5rem;
    }

    .mobilemenu__nav-item{
        flex: 0 0 5%;
        text-transform: uppercase;
        order: 0;
    }

    .mobilemenu__nav-item .link__white{
        color: black;
    }

    .mobilemenu__contact-item .link__white {
        color: #9B9B9B;
    }

    .call__button{
        padding: .2rem 2rem;
        border: 3px solid #a3cc40;
        border-radius: .7rem;
    }

    .call__button span {
        color: #a3cc40;
        font-size: 1.5rem;
    }

    .call__button svg {
        width: 1.2rem;
        height: 1.2rem;
    }

    .call__button svg path {
       fill: #A3CC40;
    }

    .head__langswitch{
        flex: 0 0 0;
        float: left;
        order: 0;
        font-size: 1.1rem;
    }

    .head__langswitch span{
        color: #A3CC40;
    }
}
@media screen and (max-width:551px){
    html{
        font-size: 1.9vw;
    }

    .button {
        font-size: 2rem;
    }
      
    .head__intro{
        padding-left: 0;
        margin-top: 4.5rem;
    }
    .head__intro-line01{
        font-size: 3.35rem;
    }

    .head__intro-line02{
        font-size: 1.9rem;
    }

    .greeting__container {
        margin-bottom: 0;
    }

    .greeting__box {
        max-width: 26rem;
        padding: 1.6rem;
        position: absolute;
        background-color: #fff;
        border-radius: 0.5rem;
        color: black;
        right: 15%;
        top: -8.6rem;
        box-shadow: 0 1.35rem 1.95rem rgb(163 204 64 / 18%);
    }

    .greeting__head {
        display: inline-block;
        font-family: "IBM_Plex_Sans", sans-serif;
        font-weight: 600;
        font-size: 2.1rem;
        line-height: 1.33;
        margin-bottom: .6rem;
        padding-left: 2rem;
    }

    .text__description{
        font-size: .8rem;
    }
    .advantages__blockname {
        padding-top: 6rem;
        margin-bottom: 4.2rem;
    }

    .advantages__item-header{
        font-size: 2rem;
    }
    
    .advantages__item-text{
        display: none;
    }

    .blockname{
        font-size: 3rem;
    }

    .gift__head{
        text-align: center;
    }

    .gift__text{
        display: none;
    }

    .gift__button-block {
        font-size: 2rem;
        text-align: center;
        float: none;
    }

    .souvenirs__container{
        justify-content: space-around;
    }

    .review__bar{
        margin-right: 7rem;
    }

    .formplaceholder{
        font-size: 1.3rem;
    }

    .name__input{
        font-size: 2rem;
    }

    .sit__select{
        font-size: 1.5rem;
    }

    .feedback__container{
        display: block;
    }
    .leftside{
        display: none;
    }

    .feedback__textarea::-webkit-input-placeholder {
        color: #a1a1a1;
        font-family: "IBM_Plex_Sans", sans-serif;
        font-weight: 400;
        font-size: 1.3rem;
        line-height: 1.33;
    }
    
    .check__mark {
        width: 2rem;
        height: 2rem;
    }
    
    .check__text {
        font-size: 1.3rem;
    }

    .footer__block1 {
        width: 38%;
    }

    .footer__logo svg{
        width: 100px;
    }

    .footer__parting{
        display: none;
    }

    .footer__site{
        display: none;
    }

    .footer__contacts{
        flex-basis: 100%;
    }

    .footer__contacts-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer__contacts-list li:nth-child(1n+4){
        display: none;
    }

    .footer__contacts-item{
        flex: 1 0 50%;
        font-size: 1.2rem;
    }

    }