@media screen and (max-width:1200px) {
    html{
        font-size: 1.78vw;
    }
}

@media screen and (max-width:768px) {
    html{
        font-size: 3vw;
    }
    .greeting__container{
        display: none;
    }
    .timelist__table{
        overflow-x: scroll;
    }
    .souvenirs__container{
        justify-content: space-around;
    }
    .feedback__container{
        display: block;
    }
    .leftside{
        display: none;
    }
}