.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(51, 51, 51, .54);
    z-index: 1;
    &-wrapper {
        max-width: 80%;
        @media screen and (min-width:769px){
            max-width: 60%;
        }
        background-color: white;
        margin: 15% auto;
        border-radius: 1.3rem;
    }
    &-close {
        position: absolute;
        right: .9rem;
        top: .9rem;
        &__btn{
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 40px;
            border: 2px solid #a3cc40;
            z-index: 1;
            cursor: pointer;
            @media screen and (min-width:551px){
                width: 1.5rem;
                height: 1.5rem;
            }
            &:before,
            &:after{
                content: "";
                display: block;
                position: absolute;
                background-color: #a3cc40;
                width: 75%;
                height: 11%;
                margin-top: 45%;
                margin-left: 15%;
            }
            &:before{
                transform: rotate(45deg);
            }
            &:after{
                transform: rotate(135deg);
            }
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        padding: 2.6rem;
        &-item{
            flex: 0 0 3rem;
            @media screen and (min-width:551px){
               padding: 0; 
            }
            padding: 2rem 0;
            & button {
                width: 100%;
                padding: .7rem 0;
            }
        }
    }
}